@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-Medium.woff2") format("woff2"),
    url("./fonts/ReadexPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-SemiBold.woff2") format("woff2"),
    url("./fonts/ReadexPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-ExtraLight.woff2") format("woff2"),
    url("./fonts/ReadexPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-Light.woff2") format("woff2"),
    url("./fonts/ReadexPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-Bold.woff2") format("woff2"),
    url("./fonts/ReadexPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./fonts/ReadexPro-Regular.woff2") format("woff2"),
    url("./fonts/ReadexPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-BoldItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Italic.woff2") format("woff2"),
    url("./fonts/Urbanist-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Bold.woff2") format("woff2"),
    url("./fonts/Urbanist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Light.woff2") format("woff2"),
    url("./fonts/Urbanist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-BlackItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-ExtraLight.woff2") format("woff2"),
    url("./fonts/Urbanist-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-ExtraBold.woff2") format("woff2"),
    url("./fonts/Urbanist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Black.woff2") format("woff2"),
    url("./fonts/Urbanist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-ExtraLightItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Medium.woff2") format("woff2"),
    url("./fonts/Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-LightItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-MediumItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-ThinItalic.woff2") format("woff2"),
    url("./fonts/Urbanist-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Regular.woff2") format("woff2"),
    url("./fonts/Urbanist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-SemiBold.woff2") format("woff2"),
    url("./fonts/Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-Thin.woff2") format("woff2"),
    url("./fonts/Urbanist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
