*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

:root {
  --tabbar-height: 60px;
  --h-infobar: 60px;
  --c-blue: #3a5eff;
  --c-green: #08c173;
  --c-orange: #fe824c;
  --c-red: #f85a53;
  --c-black: #203152;
  --c-gray-dark: #7E8DA6;
  --c-gray-light: #C5CAD4;
  --c-white: #F1F3F6;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
}
